@import 'tailwindcss';
@plugin "daisyui" {
  themes: emerald --default;
}

.favicon-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.favicon-container img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
