@import 'tailwindcss';
@plugin "daisyui" {
  themes: emerald --default;
}

@utility btn-outline {
  @apply border-base-300;
}

.input,
.textarea,
.select,
.file-input {
  &:focus {
    @apply border-base-content/50 outline-none ring-2 ring-base-content/25;
  }
}

.select:open {
  @apply border-base-content/50 outline-none ring-2 ring-base-content/25;
}

.favicon-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.favicon-container img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
